html {
    min-width: 260px;
}
body {
    min-width: inherit;
    margin: 0;
    background-color: #4a4a4f;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

span.div, a.div {
    display: inline-block;
    width: 100%;
}

.section {
    margin: 0px;
    border-bottom: 1px solid #6a6a6f;
    padding: 2px 0;
}
.section p,
.section span.p {
    margin: 6px 8px;
}
.section:last-child {
    border-bottom: none;
}

.section .section-heading {
    color: #a1a1a4;
}
.section-text {
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}
.section-text.disabled {
    cursor: unset;
    opacity: 0.4;
    -webkit-transition: .4s;
    transition: .4s;
}
.section-text:hover:not(.disabled) {
    background-color: #6a6a6f;
}
.section-text > *:nth-child(1) {
    float: left;
    max-width: 210px; /* needs to be kept aligned with width of popup and width of switch */
    word-wrap: break-word;
    margin-right: 0;
}
.section-text > *:nth-child(2) {
    float: right;
}
.section-text > *:nth-child(3) {
    clear: both;
    margin: 0;
}

.section-text.button-active > *:nth-child(1) {
    transform: translate(1px, 1px);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 24.7px;
    height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10.7px;
    width: 10.7px;
    left: 1.6px;
    bottom: 1.6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10.7px);
    -ms-transform: translateX(10.7px);
    transform: translateX(10.7px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 14px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Arrows */
span.arrow {
    border: solid #ccc;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
span.arrow.arrow-white {
    border-color: #fff;
}
span.arrow.arrow-larger {
    padding: 4px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 8px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 8px;
}

/* SVG open in new tab */
.open-in-new-tab {
    margin-right: 6px;
}
.open-in-new-tab svg {
    height: 1em;
}
.open-in-new-tab svg polyline {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: inherit;
    -webkit-animation-name: slideIn; /* Slide in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}
.modal.hide {
    visibility: 0;
    -webkit-animation-name: slideOut;
    -webkit-animation-duration: 0.4s; /* also hardcoded in javascript -> needs also be changed there */
    animation-name: slideOut;
    animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: inherit;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}


/* Modal Header */
.modal-header {
    margin: 0;
    padding: 8px;
    color: #fff;
}

.modal-header > *:nth-child(1) { /* The back button */
    padding: 4px 6px 4px 2px;
    color: inherit;
    cursor: pointer;
    display: table-cell; /* needed to center heading */
}
.modal-header > *:nth-child(1):hover {
    background-color: #6a6a6f;
}
.modal-header > *:nth-child(2) { /* The heading */
    display: table-cell;
    width: 100%;
    text-align: center;
    font-weight: 520;
}
.modal-header > *:nth-child(3) { 
    /* clone of back button to have correct centering of heading */
    display: table-cell;
    padding: 4px 2px 4px 6px;
    visibility: hidden;
}

.modal-content input[type=text],
.modal-content input[type=email] {
    width: 99%;
    border: 0;
    background: inherit; /*#525257;*/
    color: inherit;
    margin-bottom: 12px;
}

p.footer-text {
    color: #ccc;
    text-align: center;
    font-size: 0.8em;
}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {left: 100%; opacity: 0.5}
    to {left: 0; opacity: 1}
}
@keyframes slideIn {
    from {left: 100%; opacity: 0.5}
    to {left: 0; opacity: 1}
}

@-webkit-keyframes slideOut {
    from {left: 0; opacity: 1}
    to {left: 100%; opacity: 0.5}
}
@keyframes slideOut {
    from {left: 0; opacity: 1}
    to {left: 100%; opacity: 0.5}
}


/* show link as normal text */
a {
    color: inherit;
    text-decoration: none;
    outline: none;
    display: inline-block;
    /*height: 0;*/
}

/* don't allow text to be selectable */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
